In [1]:
import pandas as pd

# Load the uploaded CSV file
file_path = r"C:\Users\Admin\Documents\My Data Sources\qantity in stock,total sold,remainig stock.csv"
df = pd.read_csv(file_path)

# Display the first few rows to understand the structure
df.head()

,productCode,productName,quantityInStock,total_sold,remaining_stock
0,S12_2823,2002 Suzuki XREO,9997,1028.0,8969.0
1,S18_1984,1995 Honda Civic,9772,917.0,8855.0
2,S700_2466,America West Airlines B757-200,9653,984.0,8669.0
3,S24_3432,2002 Chevy Corvette,9446,894.0,8552.0
4,S18_2325,1932 Model A Ford J-Coupe,9354,957.0,8397.0

In [3]:


# Display the first few rows to understand the structure
df.head()

,productCode,productName,quantityInStock,total_sold,remaining_stock
0,S12_2823,2002 Suzuki XREO,9997,1028.0,8969.0
1,S18_1984,1995 Honda Civic,9772,917.0,8855.0
2,S700_2466,America West Airlines B757-200,9653,984.0,8669.0
3,S24_3432,2002 Chevy Corvette,9446,894.0,8552.0
4,S18_2325,1932 Model A Ford J-Coupe,9354,957.0,8397.0

In [4]:
# Identify oversold products (negative remaining stock)
oversold_products = df[df["remaining_stock"] < 0]

# Identify overstocked products (high stock, low sales)
overstocked_products = df[df["quantityInStock"] > (df["total_sold"] * 5)]

# Identify products needing reordering (low stock, high sales)
reorder_needed = df[(df["remaining_stock"] < 500) & (df["total_sold"] > 1000)]

# Summary counts
summary = {
    "Total Products": len(df),
    "Oversold Products": len(oversold_products),
    "Overstocked Products": len(overstocked_products),
    "Products Needing Reordering": len(reorder_needed)
}

summary

{'Total Products': 110,
 'Oversold Products': 11,
 'Overstocked Products': 58,
 'Products Needing Reordering': 4}

In [ ]:
# Inventory Analysis Summary
# Total Products: 110
# Oversold Products: 11 (These products have negative remaining stock and may need urgent attention.)
# Overstocked Products: 58 (These items have high stock but low sales, possibly leading to excess inventory.)
# Products Needing Reordering: 4 (These items have low stock but high sales, indicating a need for restocking.)

In [5]:
# Define thresholds
high_sales_threshold = df["total_sold"].quantile(0.90)  # Top 10% sales
overstocked_threshold = 5  # Stock is 5 times more than sales

# Identify categories
oversold_products = df[df["remaining_stock"] < 0]
overstocked_products = df[df["quantityInStock"] > overstocked_threshold * df["total_sold"]]
high_sales_products = df[df["total_sold"] >= high_sales_threshold]

# Summarize results
summary = {
    "Oversold Products": oversold_products[["productCode", "productName"]].to_dict(orient="records"),
    "Overstocked Products": overstocked_products[["productCode", "productName"]].to_dict(orient="records"),
    "High Sales Products": high_sales_products[["productCode", "productName"]].to_dict(orient="records"),
}

summary

{'Oversold Products': [{'productCode': 'S700_1938',
   'productName': 'The Mayflower'},
  {'productCode': 'S32_3522',
   'productName': '1996 Peterbilt 379 Stake Bed with Outrigger'},
  {'productCode': 'S18_2248', 'productName': '1911 Ford Town Car'},
  {'productCode': 'S18_2795', 'productName': '1928 Mercedes-Benz SSK'},
  {'productCode': 'S50_4713', 'productName': '2002 Yamaha YZR M1'},
  {'productCode': 'S700_3167', 'productName': 'F/A 18 Hornet 1/72'},
  {'productCode': 'S72_3212', 'productName': 'Pont Yacht'},
  {'productCode': 'S32_1374', 'productName': '1997 BMW F650 ST'},
  {'productCode': 'S32_4289', 'productName': '1928 Ford Phaeton Deluxe'},
  {'productCode': 'S12_1099', 'productName': '1968 Ford Mustang'},
  {'productCode': 'S24_2000', 'productName': '1960 BSA Gold Star DBD34'}],
 'Overstocked Products': [{'productCode': 'S12_2823',
   'productName': '2002 Suzuki XREO'},
  {'productCode': 'S18_1984', 'productName': '1995 Honda Civic'},
  {'productCode': 'S700_2466',
   'productName': 'America West Airlines B757-200'},
  {'productCode': 'S24_3432', 'productName': '2002 Chevy Corvette'},
  {'productCode': 'S18_2325', 'productName': '1932 Model A Ford J-Coupe'},
  {'productCode': 'S32_2206', 'productName': '1982 Ducati 996 R'},
  {'productCode': 'S18_3482', 'productName': '1976 Ford Gran Torino'},
  {'productCode': 'S12_3380', 'productName': '1968 Dodge Charger'},
  {'productCode': 'S24_3151',
   'productName': '1912 Ford Model T Delivery Wagon'},
  {'productCode': 'S18_1589', 'productName': '1965 Aston Martin DB5'},
  {'productCode': 'S18_3685', 'productName': '1948 Porsche Type 356 Roadster'},
  {'productCode': 'S18_1889', 'productName': '1948 Porsche 356-A Roadster'},
  {'productCode': 'S700_4002', 'productName': 'American Airlines: MD-11S'},
  {'productCode': 'S18_1367',
   'productName': '1936 Mercedes-Benz 500K Special Roadster'},
  {'productCode': 'S32_3207',
   'productName': "1950's Chicago Surface Lines Streetcar"},
  {'productCode': 'S18_1342', 'productName': '1937 Lincoln Berline'},
  {'productCode': 'S18_2870', 'productName': '1999 Indy 500 Monte Carlo SS'},
  {'productCode': 'S18_4522', 'productName': '1904 Buick Runabout'},
  {'productCode': 'S24_1628', 'productName': '1966 Shelby Cobra 427 S/C'},
  {'productCode': 'S18_2319', 'productName': '1964 Mercedes Tour Bus'},
  {'productCode': 'S24_3371', 'productName': '1971 Alpine Renault 1600s'},
  {'productCode': 'S24_4620', 'productName': '1961 Chevrolet Impala'},
  {'productCode': 'S18_3320', 'productName': '1917 Maxwell Touring Car'},
  {'productCode': 'S10_1678',
   'productName': '1969 Harley Davidson Ultimate Chopper'},
  {'productCode': 'S24_2972', 'productName': '1982 Lamborghini Diablo'},
  {'productCode': 'S18_3782', 'productName': '1957 Vespa GS150'},
  {'productCode': 'S24_1937', 'productName': '1939 Chevrolet Deluxe Coupe'},
  {'productCode': 'S10_1949', 'productName': '1952 Alpine Renault 1300'},
  {'productCode': 'S12_4675', 'productName': '1969 Dodge Charger'},
  {'productCode': 'S700_2834', 'productName': 'ATA: B757-300'},
  {'productCode': 'S700_2610', 'productName': 'The USS Constitution Ship'},
  {'productCode': 'S50_1341', 'productName': '1930 Buick Marquette Phaeton'},
  {'productCode': 'S24_1578', 'productName': '1997 BMW R 1100 S'},
  {'productCode': 'S12_3148', 'productName': '1969 Corvair Monza'},
  {'productCode': 'S700_2824', 'productName': '1982 Camaro Z28'},
  {'productCode': 'S24_2360', 'productName': '1982 Ducati 900 Monster'},
  {'productCode': 'S10_4962', 'productName': '1962 LanciaA Delta 16V'},
  {'productCode': 'S24_3949', 'productName': 'Corsair F4U ( Bird Cage)'},
  {'productCode': 'S24_4048',
   'productName': '1992 Porsche Cayenne Turbo Silver'},
  {'productCode': 'S24_3816', 'productName': '1940 Ford Delivery Sedan'},
  {'productCode': 'S18_4409',
   'productName': '1932 Alfa Romeo 8C2300 Spider Sport'},
  {'productCode': 'S18_4668', 'productName': '1939 Cadillac Limousine'},
  {'productCode': 'S10_2016', 'productName': '1996 Moto Guzzi 1100i'},
  {'productCode': 'S24_3856', 'productName': '1956 Porsche 356A Coupe'},
  {'productCode': 'S18_3259', 'productName': 'Collectable Wooden Train'},
  {'productCode': 'S18_3136',
   'productName': '18th Century Vintage Horse Carriage'},
  {'productCode': 'S12_4473', 'productName': '1957 Chevy Pickup'},
  {'productCode': 'S24_2841', 'productName': '1900s Vintage Bi-Plane'},
  {'productCode': 'S700_1691', 'productName': 'American Airlines: B767-300'},
  {'productCode': 'S12_3990', 'productName': '1970 Plymouth Hemi Cuda'},
  {'productCode': 'S18_2957', 'productName': '1934 Ford V8 Coupe'},
  {'productCode': 'S18_4027', 'productName': '1970 Triumph Spitfire'},
  {'productCode': 'S10_4698',
   'productName': '2003 Harley-Davidson Eagle Drag Bike'},
  {'productCode': 'S18_1662', 'productName': '1980s Black Hawk Helicopter'},
  {'productCode': 'S700_3962', 'productName': 'The Queen Mary'},
  {'productCode': 'S32_1268', 'productName': '1980’s GM Manhattan Express'},
  {'productCode': 'S72_1253', 'productName': 'Boeing X-32A JSF'},
  {'productCode': 'S24_3191', 'productName': '1969 Chevrolet Camaro Z28'}],
 'High Sales Products': [{'productCode': 'S700_4002',
   'productName': 'American Airlines: MD-11S'},
  {'productCode': 'S18_1342', 'productName': '1937 Lincoln Berline'},
  {'productCode': 'S18_2319', 'productName': '1964 Mercedes Tour Bus'},
  {'productCode': 'S10_1678',
   'productName': '1969 Harley Davidson Ultimate Chopper'},
  {'productCode': 'S18_3232', 'productName': '1992 Ferrari 360 Spider red'},
  {'productCode': 'S50_1341', 'productName': '1930 Buick Marquette Phaeton'},
  {'productCode': 'S24_3949', 'productName': 'Corsair F4U ( Bird Cage)'},
  {'productCode': 'S24_3856', 'productName': '1956 Porsche 356A Coupe'},
  {'productCode': 'S12_4473', 'productName': '1957 Chevy Pickup'},
  {'productCode': 'S18_4600', 'productName': '1940s Ford truck'},
  {'productCode': 'S18_3856',
   'productName': '1941 Chevrolet Special Deluxe Cabriolet'}]}

In [ ]:
## Oversold Products (Stock is negative)
# *These products have been sold beyond available stock:*

# The Mayflower
# 1996 Peterbilt 379 Stake Bed with Outrigger
# 1911 Ford Town Car
# 1928 Mercedes-Benz SSK
# 2002 Yamaha YZR M1
# F/A 18 Hornet 1/72
# Pont Yacht
# 1997 BMW F650 ST
# 1928 Ford Phaeton Deluxe
# 1968 Ford Mustang
# 1960 BSA Gold Star DBD34

# #Overstocked Products (High stock, low sales)
# *These products have over 5x more stock than sales:*

# 2002 Suzuki XREO
# 1995 Honda Civic
# America West Airlines B757-200
# 2002 Chevy Corvette
# 1932 Model A Ford J-Coupe
# 1982 Ducati 996 R
# 1968 Dodge Charger
# 1965 Aston Martin DB5